# Datos de conexion
DB_NAME=nombre_de_la_base_de_datos
DB_HOST=direccion_ip_o_localhost
DB_PORT=5432

DB_SSL_MODE=modo_ssl # require, disable

# Nombre del superusuario administrador
ADMIN_USER=nombre_de_superusuario

# Modo de interfaz de la aplicacion (GUI / TERMINAL)
APP_MODE=modo_interfaz
